.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  border-radius:15px;
}
.form {
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  border-radius:15px;
}
.form input.user,.pass{
  font-family: "Roboto", sans-serif;
  background: transparent;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 2px solid blue;
  
}
input:valid {
    background: #0A0;
}
.form button {
  font-family: "Open sans", sans-serif;
  background: #03a3cf;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
}
.form button:hover{
  background: #31aaa7;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #d3d3d3;
  text-decoration: none;
  float:right;
}
.form .message{
  margin: 0 0 15px;
}
body {
  background: #fff;
  font-family: "Roboto", sans-serif;
}
.outer{
  background:#f66;
  padding:100px;
}
.inner{
  background:#2E7DF3;
  background: linear-gradient(to bottom, #0000FF 60%, #d3d3d3 50%);
  height: 650px;
  width: 55%;
  padding:100px 10px 10px 10px;
  margin:20px 300px 20px 300px;
  border-radius:15px;
}
#upper{
  color:#fff;
  text-align:center;
  font-size:30px;
}
#heart{
  margin:20px 300px 20px 290px;
}
.message1{
  text-align:center;
  color:#add8d4;
}
input:required {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}
input:required:focus {
  border: 1px solid red;
  outline: none;
}
input:required:hover {
  opacity: 1;
}

input[type="email"]:valid {
    color: green;
}

input[type="email"]:valid ~ .input-validation::before {
    content: "Correct Email";
    color: green;
}

input[type="email"]:invalid {
    color: red;
  content:"Enter correct email"
}

input[type="password"]:valid {
    color: green;
}

input[type="password"]:valid ~ .input-validation::before {
    content: "Correct format";
    color: green;
}

input[type="password"]:invalid {
    color: red;
  content:"Enter match password"
}